{% import "macros.html" as macros %}
{% extends "layout.html" %}

{% block article_body %}

{% markdown %}

To begin with it has nothing to do with archaism, with the salvaging of obsolete words and turns of speech, or with the setting up of a "standard English" which must never be departed from. On the contrary, it isespecially concerned with the scrapping of every word or idiom which has outworn its usefulness.

It has nothing to do with correct grammar and syntax,which are of no importance so long as one makes one's meaning clear, or with the avoidance of Americanisms, or with having what is called a "good prose style."

<!-- {# START MID AD SLOT
    You can move this wherever it works best in your page's design.
    For more control over the size, write your own o-ads div - see
    https://financial-times.github.io/o-ads/docs/developer-guide/display #}
{% if flags.ads %}{{ macros.middleAd() }}{% endif %}
{# END MID AD SLOT #} -->

{% for row in data %}
  <p>
    I am a row
  </p>
{% endfor %}

{% endmarkdown %}
{% endblock %}
