{% import "macros.html" as macros %}
{% extends "layout.html" %}

{% block article_body %}

{% markdown %}
The greater Chinese region that encompasses mainland China, Hong Kong and Taiwan is becoming increasingly important in the world of business education.

Many schools have received seals of approval from AACSB and Equis, the two leading global business education accreditation organisations. Many also attract significant numbers of international students.

For the first time, the FT has compiled data that will enable prospective students to more easily compare business schools in the region. 26 schools have participated.

Below are three separate tables listing 13 business schools in mainland China, five in Hong Kong and eight in Taiwan. Each participating school has shared data on its headline MBA, masters in management and masters in finance programmes, revealing details such as the proportion of international students and average starting salary of graduates.

Click on the column headings to sort each table according to the information most relevant to you. You can organise the schools alphabetically, by programme type, by tuition fee or by starting salary by clicking on the arrows at the top of each column. For more information, click on the programme title to navigate to the website of that business school.

To see how we defined each metric, please refer to the [footnotes](#footnotes) below the tables. <span class="show-mobile">On mobile devices, the tables will be transposed and scroll left to right.</span>
{% endmarkdown %}
{% endblock %}
