{% import "macros.html" as macros %}
{% extends "layout.html" %}

{% block article_body %}

{% markdown %}
The greater Chinese region that encompasses mainland China, Hong Kong and Taiwan, is becoming increasingly important in the world of business education.

Many schools have been given seals of approval by AACSB and Equis, the two leading global business education accreditation organisations. Many also attract significant numbers of international students.

For the first time, the FT has gathered data so that prospective students can more easily compare business schools in the region — 26 have participated.

Below are three separate tables listing 13 business schools in mainland China, five in Hong Kong and eight in Taiwan. Each participating school has shared data on its headline MBA, master in management and master in finance programmes, revealing details such as proportion of international students and average starting salary for its graduates.

By clicking on the column headings you can sort each table according to the information most interesting to you. You can search for programmes by business school, programme type, or tuition fee. For more information, the programme links take you to the website of the business school.

To see how we defined each metric, please refer to the [key](#) in the listing below.
{% endmarkdown %}
{% endblock %}
