@import 'o-colors/main';
@import 'o-grid/main';
@import 'components/core/main';

.o-table {
  margin-bottom: 28px;

  .o-table__caption--top {
    display: none;
  }

  a {
    border-bottom: none;
  }

  .o-table__cell--numeric {
    -webkit-font-feature-settings: 'tnum';
    -moz-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum';
  }

  strong {
    font-weight: 600;
  }
}

.graphic {
  margin: 0 0 28px 0;
}

@include oGridRespondTo(S) {
  .o-table {
    .o-table__caption--top {
      display: table-caption;
    }
  }
}
