@import 'o-colors/main';
@import 'o-grid/main';
@import 'o-icons/main';
@import 'components/core/main';

.o-table {
  margin-bottom: 28px;

  &.china {
    margin-bottom: 8px;
  }

  .o-table__caption--top {
    display: none;
  }

  a {
    border-bottom: none;
  }

  .o-table__cell--numeric {
    -webkit-font-feature-settings: 'tnum';
    -moz-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum';
  }

  strong {
    font-weight: 600;
  }
}

.graphic {
  margin: 0 0 28px 0;
}

.scroll {
  text-align: right;
  font-weight: 600;
  color: #33302e;

  .icon-arrow-right {
    @include oIconsGetIcon('arrow-right', #33302e, 18);
    vertical-align: text-top;
  }
}

.o-typography-footer.china {
  margin-bottom: 28px;
}


@include oGridRespondTo(S) {
  .o-table {
    .o-table__caption--top {
      display: table-caption;
    }
  }

  .show-mobile {
    display: none;
  }
}

.o-header__top-logo {
  background-image: url('http://interactive.ftchinese.com/logo-images/brand-ftc-masthead.svg');
}
