@import 'o-colors/main';
@import 'o-grid/main';
@import 'components/core/main';

.o-table__caption--top {
  display: none;
}

@include oGridRespondTo(S) {
  .o-table__caption--top {
    display: table-caption;
  }
}

.o-table {
  a {
    border-bottom: none;
  }
}
