<style type="text/css">.o-footer {
  margin-top: 40px;
  border-top: 10px solid;
  line-height: 20px; }
  .o-footer a {
    border-bottom: 0;
    text-decoration: none; }

.o-footer--theme-dark {
  color: #ffffff;
  background-color: #33302E;
  border-color: #0A5E66; }
  .o-footer--theme-dark a {
    color: #B3A9A0; }
    .o-footer--theme-dark a:hover, .o-footer--theme-dark a:focus {
      color: #ffffff; }

.o-footer--theme-light {
  color: #33302E;
  background-color: #F2E5DA;
  border-color: #990F3D; }
  .o-footer--theme-light a {
    color: #4D4845; }
    .o-footer--theme-light a:hover, .o-footer--theme-light a:focus {
      color: #ffffff; }

.o-footer__container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  min-width: 240px;
  max-width: 1220px;
  /*autoprefixer: off*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 1220px;
  padding-left: 10px;
  padding-right: 10px; }
  @media (min-width: 46.25em) {
    .o-footer__container {
      padding-left: 20px;
      padding-right: 20px; } }
  @media (min-width: 46.25em) {
    .o-grid-snappy .o-footer__container, .o-footer__container--snappy {
      max-width: 740px; } }
  @media (min-width: 61.25em) {
    .o-grid-snappy .o-footer__container, .o-footer__container--snappy {
      max-width: 980px; } }
  @media (min-width: 76.25em) {
    .o-grid-snappy .o-footer__container, .o-footer__container--snappy {
      max-width: 1220px; } }
  @media \0screen {
    .o-footer__container {
      padding-left: 20px;
      padding-right: 20px;
      width: 980px; } }

.o-footer__row {
  margin-top: 20px; }

.o-footer__copyright {
  padding-top: 20px;
  padding-bottom: 20px; }
  .o-footer--theme-dark .o-footer__copyright {
    color: #B3A9A0; }
  .o-footer--theme-light .o-footer__copyright {
    color: #4D4845; }
  .o-footer__copyright a {
    text-decoration: underline; }

.o-footer__matrix {
  clear: both;
  flex-wrap: wrap;
  display: flex;
  margin-left: -10px;
  zoom: 1; }
  @media print {
    .o-footer__matrix {
      display: inherit; } }
  @media (min-width: 46.25em) {
    .o-footer__matrix {
      margin-left: -20px; } }
  @media \0screen {
    .o-footer__matrix {
      margin-left: -20px; } }
  .o-footer__matrix:before, .o-footer__matrix:after {
    content: '';
    display: table;
    display: flex; }
  .o-footer__matrix:after {
    clear: both; }

.o-footer__matrix-group {
  position: relative;
  float: left;
  flex: 1 1 0%;
  /*autoprefixer: off*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 10px; }
  @media \0screen {
    .o-footer__matrix-group {
      min-width: 0 !important; } }
  @media (min-width: 46.25em) {
    .o-footer__matrix-group {
      padding-left: 20px; } }
  @media \0screen {
    .o-footer__matrix-group {
      padding-left: 20px; } }

.o-footer__matrix-group {
  display: block;
  flex-basis: 50%;
  min-width: 50%;
  max-width: 50%;
  width: 50%; }
  @media (min-width: 46.25em) {
    .o-footer__matrix-group {
      display: block;
      flex-basis: 25%;
      min-width: 25%;
      max-width: 25%; } }
  @media \0screen {
    .o-footer__matrix-group {
      display: block;
      width: 25%; } }
  @media (min-width: 61.25em) {
    .o-footer__matrix-group {
      display: block;
      flex-basis: 16.66667%;
      min-width: 16.66667%;
      max-width: 16.66667%; } }
  @media \0screen {
    .o-footer__matrix-group {
      display: block;
      width: 16.66667%; } }

.o-footer__matrix-title, .o-footer__matrix-link {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.o-footer__matrix-title {
  margin: 0;
  line-height: inherit;
  font-size: inherit;
  font-weight: 600; }

.o-footer__matrix-content {
  margin-top: 10px;
  margin-bottom: 10px; }

.o-footer__matrix-link {
  display: block;
  padding: 4px 0; }
</style>
<footer class="o-footer o-footer--theme-dark" data-o-component="o-footer">
	<div class="o-footer__container">
		<div class="o-footer__row">
			<nav class="o-footer__matrix">

				
				<div class="o-footer__matrix-group">

					<h6 class="o-footer__matrix-title">支持</h6>
					<div class="o-footer__matrix-content">

						
						<a class="o-footer__matrix-link" href="http://www.ftchinese.com/m/corp/aboutus.html" target="_blank">关于我们</a>
						
						<a class="o-footer__matrix-link" href="http://www.ftchinese.com/jobs/?from=ft" target="_blank">职业机会</a>
						
						<a class="o-footer__matrix-link" href="http://www.ftchinese.com/m/corp/faq.html" target="_blank">问题回馈</a>
						
						<a class="o-footer__matrix-link" href="http://www.ftchinese.com/m/corp/contact.html" target="_blank">联系方式</a>
							

					</div>

				</div>
				
				<div class="o-footer__matrix-group">

					<h6 class="o-footer__matrix-title">法律事务</h6>
					<div class="o-footer__matrix-content">

						
						<a class="o-footer__matrix-link" href="http://www.ftchinese.com/m/corp/service.html" target="_blank">服务条款</a>
						
						<a class="o-footer__matrix-link" href="http://www.ftchinese.com/m/corp/copyright.html" target="_blank">版权声明</a>
							

					</div>

				</div>
				
				<div class="o-footer__matrix-group">

					<h6 class="o-footer__matrix-title">服务</h6>
					<div class="o-footer__matrix-content">

						
						<a class="o-footer__matrix-link" href="http://www.ftchinese.com/m/corp/sales.html" target="_blank">广告业务</a>
						
						<a class="o-footer__matrix-link" href="http://www.ftchinese.com/m/events/event.html" target="_blank">会议活动</a>
						
						<a class="o-footer__matrix-link" href="http://www.ftchinese.com/m/marketing/home.html" target="_blank">会员信息中心</a>
						
						<a class="o-footer__matrix-link" href="http://www.ftchinese.com/m/marketing/ftc.html" target="_blank">最新动态</a>
						
						<a class="o-footer__matrix-link" href="http://www.ftchinese.com/m/corp/partner.html" target="_blank">合作伙伴</a>
							

					</div>

				</div>
				
				<div class="o-footer__matrix-group">

					<h6 class="o-footer__matrix-title">关注我们</h6>
					<div class="o-footer__matrix-content">

						
						<a class="o-footer__matrix-link" href="http://www.ftchinese.com/m/corp/follow.html" target="_blank">微信</a>
						
						<a class="o-footer__matrix-link" href="http://weibo.com/ftchinese" target="_blank">微博</a>
						
						<a class="o-footer__matrix-link" href="https://www.linkedin.com/company/4865254?trk=hp-feed-company-name" target="_blank">Linkedin</a>
						
						<a class="o-footer__matrix-link" href="https://www.facebook.com/financialtimeschinese" target="_blank">Facebook</a>
						
						<a class="o-footer__matrix-link" href="https://twitter.com/FTChinese" target="_blank">Twitter</a>
							

					</div>

				</div>
				
				<div class="o-footer__matrix-group">

					<h6 class="o-footer__matrix-title">FT产品</h6>
					<div class="o-footer__matrix-content">

						
						<a class="o-footer__matrix-link" href="http://www.ftchinese.com/m/marketing/intelligence.html" target="_blank">FT研究院</a>
						
						<a class="o-footer__matrix-link" href="http://www.ftchinese.com/channel/mba.html" target="_blank">FT商学院</a>
						
						<a class="o-footer__matrix-link" href="http://www.ftchinese.com/m/marketing/ebook.html" target="_blank">FT电子书</a>
						
						<a class="o-footer__matrix-link" href="http://www.ftchinese.com/channel/datanews.html" target="_blank">数据新闻</a>
						
						<a class="o-footer__matrix-link" href="https://www.ft.com/" target="_blank">FT英文版</a>
							

					</div>

				</div>
				

			</nav>			
		</div>

		<div class="o-footer__copyright">
			<small>
				&#xA9; FT中文网 2017.
				<abbr title="Financial Times" aria-label="F T">FT</abbr> and ‘Financial Times’ are trademarks of The Financial Times Ltd.
			</small>
		</div>

	</div>
</footer>