<!doctype html>
{% set test_comments_uuid = "3a499586-b2e0-11e4-a058-00144feab7de" if not flags.prod and flags.comments else "" %}
{% import "./macros.html" as macros %}
<html lang="zh-cn" class="core"
    data-buildtime="{{ now() | isotime }}"
    data-content-id="{{ id if id else test_comments_uuid }}">
  <head>
    {% block prependhead %}{% endblock -%}
    {% include "includes/html-head.html" %}
    {% block appendhead %}{% endblock -%}
  </head>
  <body>

    {% if flags.analytics %}
      {% include "includes/analytics.html" %}
    {% endif %}

    {% if flags.ads %}{{ macros.topAd() }}{% endif %}

    {% if flags.header %}
      {% include "includes/header.html" %}
    {% endif %}

    <main role="main">
      <article class="article" itemscope itemtype="http://schema.org/Article">
        <div class="article-head o-grid-container">
          <div class="o-grid-row">
            <header data-o-grid-colspan="12 S11 Scenter M9 L8 XL7">
              {% block article_head %}
              {% include "includes/article-head.html" %}
              {% endblock %}
            </header>
          </div>
        </div>
        <div class="article-body o-typography-wrapper" itemprop="articleBody">

          <div class="o-grid-container">
            <div class="o-grid-row">
              <div data-o-grid-colspan="12 S11 Scenter M9 L8 XL7">
                <div>
                  {% block article_body %}{% endblock %}
                </div>
              </div>
            </div>

            <div class="o-grid-row">
              <div data-o-grid-colspan="12">
                <h2 class="show-mobile">中国大陆</h2>
                <div class="scroll show-mobile">请左右滑动浏览<i class="icon-arrow-right"></i></div>
                <table class="o-table o-table--row-stripes o-table--responsive-scroll o-table--compact china" data-o-component="o-table">
                  <caption class="o-table__caption--top">
                    中国大陆商学院
                  </caption>
                  <thead>
                    <th>学校╱学院</th>
                    <th>项目</th>
                    <th>学位别</th>
                    <th data-o-table-data-type="numeric" class="o-table__cell--numeric">学费（人民币）</th>
                    <th data-o-table-data-type="numeric" class="o-table__cell--numeric">注册人数</th>
                    <th data-o-table-data-type="numeric" class="o-table__cell--numeric">国际学生占比（%）</th>
                    <th data-o-table-data-type="numeric" class="o-table__cell--numeric">女性学生占比（%）</th>
                    <th data-o-table-data-type="numeric" class="o-table__cell--numeric">毕业起薪（美元）</th>
                  </thead>
                  <tbody>
                    {% for row in dataChina %}
                    <tr>
                      <td>{{ row.school }}</td>
                      <td><a href="{{row.hyperlinks}}" target="_blank">{{ row.programme }}</a></td>
                      <td>{{ row.category }}</td>
                      <td data-o-table-data-type="numeric" class="o-table__cell--numeric">{{ row.tuitionfeecny | dashify | commaify }}</td>
                      <td data-o-table-data-type="numeric" class="o-table__cell--numeric">{{ row.studentnumber | dashify }}</td>
                      <td data-o-table-data-type="numeric" class="o-table__cell--numeric">{{ row.internationalstudents | dashify }}</td>
                      <td data-o-table-data-type="numeric" class="o-table__cell--numeric">{{ row.femalestudents | dashify }}</td>
                      <td data-o-table-data-type="numeric" class="o-table__cell--numeric">{{ row.startingsalaryus | dashify | commaify }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>

            <div class="o-grid-row">
              <div data-o-grid-colspan="12 S11 Scenter M9 L8 XL7">
                <footer class="o-typography-footer china">
                  2017年10月3日更新数据，包含西交利物浦大学的最新信息。
                </footer>
              </div>
            </div>

            <div class="o-grid-row">
              <div data-o-grid-colspan="12">
                <h2 class="show-mobile">香港</h2>
                <div class="scroll show-mobile">请左右滑动浏览<i class="icon-arrow-right"></i></div>
                <table class="o-table o-table--row-stripes o-table--responsive-scroll o-table--compact" data-o-component="o-table">
                  <caption class="o-table__caption--top">
                    香港商学院
                  </caption>
                  <thead>
                    <th>学校╱学院</th>
                    <th>项目</th>
                    <th>学位别</th>
                    <th data-o-table-data-type="numeric" class="o-table__cell--numeric">学费（港币）</th>
                    <th data-o-table-data-type="numeric" class="o-table__cell--numeric">注册学生</th>
                    <th data-o-table-data-type="numeric" class="o-table__cell--numeric">国际学生（%）</th>
                    <th data-o-table-data-type="numeric" class="o-table__cell--numeric">女性学生（%）</th>
                    <th data-o-table-data-type="numeric" class="o-table__cell--numeric">毕业起薪（美元）</th>
                  </thead>
                  <tbody>
                    {% for row in dataHk %}
                    <tr>
                      <td>{{ row.school }}</td>
                      <td><a href="{{row.hyperlinks}}" target="_blank">{{ row.programme }}</a></td>
                      <td>{{ row.category }}</td>
                      <td data-o-table-data-type="numeric" class="o-table__cell--numeric">{{ row.tuitionfeehk | dashify | commaify }}</td>
                      <td data-o-table-data-type="numeric" class="o-table__cell--numeric">{{ row.studentnumber | dashify }}</td>
                      <td data-o-table-data-type="numeric" class="o-table__cell--numeric">{{ row.internationalstudents | dashify }}</td>
                      <td data-o-table-data-type="numeric" class="o-table__cell--numeric">{{ row.femalestudents | dashify }}</td>
                      <td data-o-table-data-type="numeric" class="o-table__cell--numeric">{{ row.startingsalaryus | dashify | commaify }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>

            <div class="o-grid-row">
              <div data-o-grid-colspan="12">
                <h2 class="show-mobile">台湾</h2>
                <div class="scroll show-mobile">请左右滑动浏览<i class="icon-arrow-right"></i></div>
                <table class="o-table o-table--row-stripes o-table--responsive-scroll o-table--compact" data-o-component="o-table">
                  <caption class="o-table__caption--top">
                    台湾商学院
                  </caption>
                  <thead>
                    <th>学校╱学院</th>
                    <th>项目</th>
                    <th>学位别</th>
                    <th data-o-table-data-type="numeric" class="o-table__cell--numeric">学费（新台币）</th>
                    <th data-o-table-data-type="numeric" class="o-table__cell--numeric">注册学生</th>
                    <th data-o-table-data-type="numeric" class="o-table__cell--numeric">国际学生（%）</th>
                    <th data-o-table-data-type="numeric" class="o-table__cell--numeric">女性学生（%）</th>
                    <th data-o-table-data-type="numeric" class="o-table__cell--numeric">毕业生起薪（美元）</th>
                  </thead>
                  <tbody>
                    {% for row in dataTaiwan %}
                    <tr>
                      <td>{{ row.school }}</td>
                      <td><a href="{{row.hyperlinks}}" target="_blank">{{ row.programme }}</a></td>
                      <td>{{ row.category }}</td>
                      <td data-o-table-data-type="numeric" class="o-table__cell--numeric">{{ row.tuitionfeent | dashify | commaify }}</td>
                      <td data-o-table-data-type="numeric" class="o-table__cell--numeric">{{ row.studentnumber | dashify }}</td>
                      <td data-o-table-data-type="numeric" class="o-table__cell--numeric">{{ row.internationalstudents | dashify }}</td>
                      <td data-o-table-data-type="numeric" class="o-table__cell--numeric">{{ row.femalestudents | dashify }}</td>
                      <td data-o-table-data-type="numeric" class="o-table__cell--numeric">{{ row.startingsalaryus | dashify | commaify }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>

            <div class="o-grid-row">
              <div data-o-grid-colspan="12 S11 Scenter M9 L8 XL7">
                <h2 id="footnotes">注</h2>
                <table class="o-table o-table--compact" data-o-component="o-table">
                  <tr>
                    <td><strong>学位</strong></td>
                    <td>该项目提供的学位类别。</td>
                  </tr>
                  <tr>
                    <td><strong>学费</strong></td>
                    <td>就读该项目的完整费用（采当地货币计算）。</td>
                  </tr>
                  <tr>
                    <td><strong>注册学生</strong></td>
                    <td>2016年注册学生人数。</td>
                  </tr>
                  <tr>
                    <td><strong>国际学生</strong></td>
                    <td>国际学生占2016年注册学生的比例。</td>
                  </tr>
                  <tr>
                    <td><strong>女性学生</strong></td>
                    <td>女性占2016年注册学生的比例。</td>
                  </tr>
                  <tr>
                    <td><strong>毕业起薪</strong></td>
                    <td>2016年毕业生的平均起薪（经购买力平价调整，以美元计算）</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

          <footer class="o-typography-footer" itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
            <div class="o-grid-container">
              <div class="o-grid-row">
                <div data-o-grid-colspan="12 S11 Scenter M9 L8 XL7">
                  <small><strong><i>（中文版制作：史书华、倪卫国。责编邮箱：<a href="mailto:silva.shih@ftchinese.com">silva.shih@ftchinese.com</a>）</i></strong></small>
                </div>
              </div>
            </div>
          </footer>

        </div>
      </article>
    </main>

    {% if flags.onwardjourney %}
      {% include "includes/onwardjourney.html" %}
    {% endif %}
{#
    {% if flags.comments %}
      {% include "includes/comments.html" %}
    {% endif %}
#}
    {% if flags.footer %}
      {% include "includes/footer.html" %}
    {% endif %}
  </body>
</html>
